{
  "openapi": "3.1.0",
  "info": {
    "title": "🌸 Anime Garden API",
    "description": "🌸 Anime Garden 是 [动漫花园](https://share.dmhy.org/) 第三方镜像站以及动画 BT 资源聚合站。\n\n+ ☁️ 为开发者准备的开放 API 接口\n+ 📺 查看动画放送时间表来找到你喜欢的动画\n+ 🔖 支持丰富的高级搜索，例如：`葬送的芙莉莲 +简体内嵌 字幕组:桜都字幕组 类型:动画`\n+ 📙 自定义 RSS 订阅链接，例如：[葬送的芙莉莲](https://api.animes.garden/feed.xml?filter=%5B%7B%22fansubId%22:%5B%22619%22%5D,%22type%22:%22%E5%8B%95%E7%95%AB%22,%22include%22:%5B%22%E8%91%AC%E9%80%81%E7%9A%84%E8%8A%99%E8%8E%89%E8%8E%B2%22%5D,%22keywords%22:%5B%22%E7%AE%80%E4%BD%93%E5%86%85%E5%B5%8C%22%5D%7D%5D)\n+ ⭐ 搜索条件收藏夹和生成聚合的 RSS 订阅链接\n+ 👷‍♂️ 支持与 AutoBangumi 和 AnimeSpace 集成\n",
    "version": "0.0.0",
    "license": {
      "name": "MIT",
      "url": "https://github.com/yjl9903/AnimeGarden/blob/main/LICENSE"
    }
  },
  "externalDocs": {
    "description": "GitHub Repository",
    "url": "https://github.com/yjl9903/AnimeGarden"
  },
  "servers": [
    {
      "url": "https://api.animes.garden",
      "description": "API 服务器"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "获取API状态信息",
        "description": "获取API基础信息、时间戳、提供商状态和文档入口链接",
        "operationId": "getStatus",
        "tags": ["Status"],
        "responses": {
          "200": {
            "description": "成功获取状态信息",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "最后更新时间戳"
                    },
                    "providers": {
                      "type": "object",
                      "properties": {
                        "dmhy": {
                          "$ref": "#/components/schemas/Provider"
                        },
                        "mikan": {
                          "$ref": "#/components/schemas/Provider"
                        },
                        "moe": {
                          "$ref": "#/components/schemas/Provider"
                        },
                        "ani": {
                          "$ref": "#/components/schemas/Provider"
                        }
                      },
                      "required": ["dmhy", "mikan", "moe", "ani"],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "description": "主站提供的 API 文档与机器可读入口",
                      "properties": {
                        "openapi": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://animes.garden/openapi.json"
                        },
                        "llms": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://animes.garden/llms.txt"
                        }
                      },
                      "required": ["openapi", "llms"]
                    }
                  },
                  "required": ["status", "timestamp", "providers", "links"]
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "获取用户列表",
        "description": "获取所有发布者用户信息",
        "operationId": "getUsers",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "成功获取用户列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  },
                  "required": ["status", "users"]
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "summary": "获取字幕组列表",
        "description": "获取所有字幕组信息",
        "operationId": "getTeams",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "成功获取字幕组列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  },
                  "required": ["status", "teams"]
                }
              }
            }
          }
        }
      }
    },
    "/subjects": {
      "get": {
        "summary": "获取主题列表",
        "description": "获取所有番剧主题信息",
        "operationId": "getSubjects",
        "tags": ["Subjects"],
        "responses": {
          "200": {
            "description": "成功获取主题列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "subjects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subject"
                      }
                    }
                  },
                  "required": ["status", "subjects"]
                }
              }
            }
          }
        }
      }
    },
    "/resources": {
      "get": {
        "summary": "获取资源列表",
        "description": "获取所有提供商的资源列表，支持分页和过滤。页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "operationId": "getResources",
        "tags": ["Resources"],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/ProviderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/IncludeParam"
          },
          {
            "$ref": "#/components/parameters/KeywordsParam"
          },
          {
            "$ref": "#/components/parameters/ExcludeParam"
          },
          {
            "$ref": "#/components/parameters/TypeParam"
          },
          {
            "$ref": "#/components/parameters/SubjectParam"
          },
          {
            "$ref": "#/components/parameters/FansubParam"
          },
          {
            "$ref": "#/components/parameters/PublisherParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/DuplicateParam"
          },
          {
            "$ref": "#/components/parameters/TrackerParam"
          },
          {
            "$ref": "#/components/parameters/MetadataParam"
          },
          {
            "$ref": "#/components/parameters/PresetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取资源列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "分页过深：page × pageSize 不能超过 10000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "获取资源列表 (POST)",
        "description": "使用POST方法获取资源列表，支持复杂的过滤条件。页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "operationId": "postResources",
        "tags": ["Resources"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TrackerParam"
          },
          {
            "$ref": "#/components/parameters/MetadataParam"
          }
        ],
        "requestBody": {
          "description": "过滤和分页参数",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功获取资源列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "分页过深：page × pageSize 不能超过 10000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{provider}": {
      "get": {
        "summary": "获取指定提供商的资源列表",
        "description": "获取指定提供商的资源列表。页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "operationId": "getProviderResources",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "提供商名称",
            "schema": {
              "type": "string",
              "enum": ["dmhy", "mikan", "moe", "ani"]
            }
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/IncludeParam"
          },
          {
            "$ref": "#/components/parameters/KeywordsParam"
          },
          {
            "$ref": "#/components/parameters/ExcludeParam"
          },
          {
            "$ref": "#/components/parameters/TypeParam"
          },
          {
            "$ref": "#/components/parameters/SubjectParam"
          },
          {
            "$ref": "#/components/parameters/FansubParam"
          },
          {
            "$ref": "#/components/parameters/PublisherParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/DuplicateParam"
          },
          {
            "$ref": "#/components/parameters/TrackerParam"
          },
          {
            "$ref": "#/components/parameters/MetadataParam"
          },
          {
            "$ref": "#/components/parameters/PresetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取资源列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "分页过深：page × pageSize 不能超过 10000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "获取指定提供商的资源列表 (POST)",
        "description": "使用POST方法获取指定提供商的资源列表。页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "operationId": "postProviderResources",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "提供商名称",
            "schema": {
              "type": "string",
              "enum": ["dmhy", "mikan", "moe", "ani"]
            }
          },
          {
            "$ref": "#/components/parameters/TrackerParam"
          },
          {
            "$ref": "#/components/parameters/MetadataParam"
          }
        ],
        "requestBody": {
          "description": "过滤和分页参数",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功获取资源列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourcesResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "分页过深：page × pageSize 不能超过 10000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detail/{provider}/{id}": {
      "get": {
        "summary": "获取资源详情 (别名)",
        "description": "获取指定资源的详细信息（与/resource/{provider}/{id}相同）",
        "operationId": "getDetailAlias",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "提供商名称",
            "schema": {
              "type": "string",
              "enum": ["dmhy", "mikan", "moe", "ani"]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "资源ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取资源详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDetailResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collection": {
      "post": {
        "summary": "创建收藏夹",
        "description": "创建新的收藏夹",
        "operationId": "createCollection",
        "tags": ["Collections"],
        "requestBody": {
          "required": true,
          "description": "收藏夹信息",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建收藏夹",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "id": {
                      "type": "integer",
                      "description": "收藏夹ID"
                    },
                    "hash": {
                      "type": "string",
                      "description": "收藏夹哈希值"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["status", "id", "hash", "createdAt"]
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "400": {
            "description": "收藏夹格式错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "创建或更新收藏夹",
        "description": "创建或更新收藏夹（与POST相同）",
        "operationId": "upsertCollection",
        "tags": ["Collections"],
        "requestBody": {
          "required": true,
          "description": "收藏夹信息",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建收藏夹",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "id": {
                      "type": "integer",
                      "description": "收藏夹ID"
                    },
                    "hash": {
                      "type": "string",
                      "description": "收藏夹哈希值"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": ["status", "id", "hash", "createdAt"]
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "400": {
            "description": "收藏夹格式错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{hash}": {
      "get": {
        "summary": "获取收藏夹内容",
        "description": "根据哈希值获取收藏夹及其包含的资源",
        "operationId": "getCollection",
        "tags": ["Collections"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "收藏夹哈希值",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取收藏夹",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "hash": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resources": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Resource"
                            }
                          },
                          "pagination": {
                            "$ref": "#/components/schemas/PaginationInfo"
                          },
                          "filter": {
                            "$ref": "#/components/schemas/FilterOptions"
                          }
                        },
                        "required": ["resources", "pagination"]
                      },
                      "description": "与 filters 按顺序一一对应；每项查询第 1 页，pageSize 为 1000。"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "收藏夹查询结果生成时间，缓存命中时沿用缓存值。"
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionFilter"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "hash",
                    "name",
                    "createdAt",
                    "results",
                    "updatedAt",
                    "filters"
                  ]
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "404": {
            "description": "收藏夹不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "summary": "获取RSS订阅源",
        "description": "获取资源的RSS订阅源。页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "operationId": "getRSSFeed",
        "tags": ["Feed"],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/IncludeParam"
          },
          {
            "$ref": "#/components/parameters/KeywordsParam"
          },
          {
            "$ref": "#/components/parameters/ExcludeParam"
          },
          {
            "$ref": "#/components/parameters/TypeParam"
          },
          {
            "$ref": "#/components/parameters/SubjectParam"
          },
          {
            "$ref": "#/components/parameters/FansubParam"
          },
          {
            "$ref": "#/components/parameters/PublisherParam"
          },
          {
            "$ref": "#/components/parameters/AfterParam"
          },
          {
            "$ref": "#/components/parameters/BeforeParam"
          },
          {
            "$ref": "#/components/parameters/FeedTrackerParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          },
          {
            "$ref": "#/components/parameters/ProviderParam"
          },
          {
            "$ref": "#/components/parameters/DuplicateParam"
          },
          {
            "$ref": "#/components/parameters/PresetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "RSS XML内容",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "RSS XML格式的订阅源"
                }
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML 错误正文，根元素为 error，message 子元素描述错误。"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML 错误正文，根元素为 error，message 子元素描述错误。"
                }
              }
            }
          },
          "400": {
            "description": "分页过深：page × pageSize 不能超过 10000",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML 错误正文，根元素为 error，message 子元素描述错误。"
                }
              }
            }
          }
        }
      }
    },
    "/collection/{hash}/feed.xml": {
      "get": {
        "summary": "获取收藏夹RSS订阅源",
        "description": "获取指定收藏夹的RSS订阅源",
        "operationId": "getCollectionRSSFeed",
        "tags": ["Feed"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "收藏夹哈希值",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FeedTrackerParam"
          }
        ],
        "responses": {
          "200": {
            "description": "RSS XML内容",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "RSS XML格式的订阅源"
                }
              }
            }
          },
          "400": {
            "description": "收藏夹不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "慢查询通道繁忙，请稍后重试",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML 错误正文，根元素为 error，message 子元素描述错误。"
                }
              }
            }
          },
          "504": {
            "description": "慢查询执行超时",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML 错误正文，根元素为 error，message 子元素描述错误。"
                }
              }
            }
          }
        }
      }
    },
    "/sitemaps/subjects": {
      "get": {
        "summary": "获取主题站点地图",
        "description": "获取所有主题的站点地图信息",
        "operationId": "getSubjectsSitemap",
        "tags": ["Sitemap"],
        "responses": {
          "200": {
            "description": "成功获取主题站点地图",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "subjects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "activedAt": {
                            "type": ["string", "null"],
                            "format": "date-time"
                          },
                          "isArchived": {
                            "type": "boolean"
                          }
                        },
                        "required": ["id", "activedAt", "isArchived"]
                      }
                    }
                  },
                  "required": ["status", "subjects"]
                }
              }
            }
          }
        }
      }
    },
    "/sitemaps/{year}/{month}": {
      "get": {
        "summary": "获取指定月份的资源站点地图",
        "description": "获取指定年月的资源站点地图信息。仅支持 2020 年至当前年月；合法数字格式但超出范围时返回 HTTP 200 错误正文，非数字路径不匹配该路由。",
        "operationId": "getResourcesSitemap",
        "tags": ["Sitemap"],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "年份",
            "schema": {
              "type": "integer",
              "minimum": 2020
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "月份",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "当前实现始终返回 HTTP 200；参数越界或查询失败时 status 为 ERROR，并返回空 resources，不包含 count。",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": ["OK"]
                        },
                        "count": {
                          "type": "integer"
                        },
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "providerId": {
                                "type": "string"
                              },
                              "fetchedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": ["id", "provider", "providerId", "fetchedAt"]
                          }
                        }
                      },
                      "required": ["status", "count", "resources"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": ["ERROR"]
                        },
                        "resources": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": ["status", "resources"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/providers": {
      "post": {
        "summary": "获取提供商状态（管理员）",
        "description": "获取所有提供商的详细状态信息",
        "operationId": "getProvidersStatus",
        "tags": ["Admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取提供商状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "providers": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/Provider"
                      }
                    }
                  },
                  "required": ["status", "providers"]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/resources/{provider}": {
      "post": {
        "summary": "抓取指定提供商的资源（管理员）",
        "description": "从指定提供商抓取最新资源",
        "operationId": "fetchProviderResources",
        "tags": ["Admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "提供商名称",
            "schema": {
              "type": "string",
              "enum": ["dmhy", "mikan", "moe", "ani"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功抓取资源",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "resources": {
                      "type": "object",
                      "properties": {
                        "inserted": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "duplicated": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      },
                      "required": ["inserted", "duplicated"]
                    }
                  },
                  "required": ["status"]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/resources/{provider}/sync": {
      "post": {
        "summary": "同步指定提供商的资源（管理员）",
        "description": "同步指定提供商指定页面范围的资源",
        "operationId": "syncProviderResources",
        "tags": ["Admin"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "提供商名称",
            "schema": {
              "type": "string",
              "enum": ["dmhy", "mikan", "moe", "ani"]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "起始页面",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "结束页面",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功同步资源",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["OK"]
                    },
                    "resources": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "providerId": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "provider", "providerId", "title"]
                          }
                        },
                        "deleted": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              }
                            },
                            "required": ["id"]
                          }
                        }
                      },
                      "required": ["updated", "deleted"]
                    }
                  },
                  "required": ["status"]
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detail/infohash/{hash}": {
      "get": {
        "summary": "按 info hash 获取资源详情",
        "description": "支持 40 位十六进制或 32 位 Base32 info hash，忽略大小写并去除首尾空白。格式错误返回 400，资源不存在返回 404。",
        "operationId": "getResourceDetailByInfoHash",
        "tags": ["Resources"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "40 位十六进制或 32 位 Base32 info hash"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取资源详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDetailResponse"
                }
              }
            },
            "headers": {
              "X-Response-Timestamp": {
                "$ref": "#/components/headers/ResponseTimestamp"
              }
            }
          },
          "404": {
            "description": "资源不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "info hash 格式错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization",
        "description": "管理员 API 需要在 header 中直接配置 secret token"
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSizeParam": {
        "name": "pageSize",
        "in": "query",
        "description": "每页数量，默认 100，最大 1000；page × pageSize 不超过 10000。越界或无效值回退为 100。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      },
      "ProviderParam": {
        "name": "provider",
        "in": "query",
        "description": "提供商过滤",
        "schema": {
          "type": "string",
          "enum": ["dmhy", "mikan", "moe", "ani"]
        }
      },
      "SearchParam": {
        "name": "search",
        "in": "query",
        "description": "搜索关键词（可重复传递多个参数，例如 ?search=foo&search=bar，或在Swagger页面中以逗号分隔输入：foo,bar）",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "IncludeParam": {
        "name": "include",
        "in": "query",
        "description": "包含关键词（可重复传递多个参数，例如 ?include=foo&include=bar，或在Swagger页面中以逗号分隔输入：foo,bar）",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "KeywordsParam": {
        "name": "keyword",
        "in": "query",
        "description": "必须包含的关键词；URL 使用单数 keyword，可重复传递；POST JSON 正文使用 keywords。",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "ExcludeParam": {
        "name": "exclude",
        "in": "query",
        "description": "排除关键词",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "TypeParam": {
        "name": "type",
        "in": "query",
        "description": "资源类型过滤",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "SubjectParam": {
        "name": "subject",
        "in": "query",
        "description": "Bangumi ID 过滤",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "style": "form",
        "explode": true
      },
      "FansubParam": {
        "name": "fansub",
        "in": "query",
        "description": "字幕组过滤",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "PublisherParam": {
        "name": "publisher",
        "in": "query",
        "description": "发布者过滤",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "AfterParam": {
        "name": "after",
        "in": "query",
        "description": "起始时间过滤（ISO 8601格式）",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "BeforeParam": {
        "name": "before",
        "in": "query",
        "description": "结束时间过滤（ISO 8601格式）",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "DuplicateParam": {
        "name": "duplicate",
        "in": "query",
        "description": "现有行为：仅在 query 或 JSON 正文指定有效 provider 时生效，省略时默认包含重复资源；URL 非空字符串（包括 false、0）均被解析为 true，空字符串为 false。未指定 provider 时忽略此参数；仅路径中的 provider 不触发该默认规则。此行为将在后续版本评估调整。",
        "schema": {
          "type": "string"
        }
      },
      "TrackerParam": {
        "name": "tracker",
        "in": "query",
        "description": "是否返回tracker信息",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "MetadataParam": {
        "name": "metadata",
        "in": "query",
        "description": "是否返回metadata信息",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "PresetParam": {
        "name": "preset",
        "in": "query",
        "description": "预设筛选条件",
        "schema": {
          "type": "string",
          "enum": ["bangumi"]
        }
      },
      "FeedTrackerParam": {
        "name": "trakcer",
        "in": "query",
        "description": "现有 RSS 实现的历史拼写。默认包含 tracker，仅小写 false、off、no 关闭；tracker 参数目前被忽略。资源 JSON 接口仍使用 tracker。",
        "schema": {
          "type": "string",
          "default": "true"
        }
      }
    },
    "schemas": {
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": ["dmhy", "mikan", "moe", "ani"]
          },
          "name": {
            "type": "string"
          },
          "refreshedAt": {
            "type": "string",
            "format": "date-time"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": ["id", "name", "refreshedAt", "isActive"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": ["string", "null"]
          },
          "providers": {
            "type": ["object", "null"],
            "additionalProperties": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "以提供商名称为键的身份映射；同一发布者或字幕组可以对应多个来源。"
          }
        },
        "required": ["id", "name", "avatar", "providers"]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": ["string", "null"]
          },
          "providers": {
            "type": ["object", "null"],
            "additionalProperties": {
              "$ref": "#/components/schemas/ProviderInfo"
            },
            "description": "以提供商名称为键的身份映射；同一发布者或字幕组可以对应多个来源。"
          }
        },
        "required": ["id", "name", "avatar", "providers"]
      },
      "Subject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Bangumi subject ID"
          },
          "name": {
            "type": "string"
          },
          "activedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "isArchived": {
            "type": "boolean"
          },
          "search": {
            "$ref": "#/components/schemas/SubjectSearch"
          }
        },
        "required": ["id", "name", "search", "activedAt", "isArchived"]
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "provider": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "magnet": {
            "type": "string"
          },
          "tracker": {
            "type": "string",
            "description": "当tracker参数为true时返回"
          },
          "size": {
            "type": "integer",
            "description": "文件大小，单位为字节。"
          },
          "fansub": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "avatar": {
                "type": "string"
              }
            },
            "required": ["id", "name"]
          },
          "publisher": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "avatar": {
                "type": "string"
              }
            },
            "required": ["id", "name"]
          },
          "subjectId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": ["object", "null"],
            "description": "当metadata参数为true时返回",
            "properties": {
              "anipar": {
                "type": "object",
                "description": "Anipar解析结果"
              }
            }
          }
        },
        "required": [
          "id",
          "provider",
          "providerId",
          "title",
          "href",
          "type",
          "magnet",
          "size",
          "publisher",
          "createdAt",
          "fetchedAt"
        ]
      },
      "ResourceDetail": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "size": {
                  "type": "string"
                }
              },
              "required": ["name", "size"]
            }
          },
          "magnets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": ["name", "url"]
            }
          },
          "hasMoreFiles": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "description": "资源 ID"
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["description", "files", "magnets", "hasMoreFiles", "id", "fetchedAt"]
      },
      "FilterOptions": {
        "type": "object",
        "properties": {
          "preset": {
            "type": "string",
            "enum": ["bangumi"]
          },
          "provider": {
            "type": "string",
            "enum": ["dmhy", "mikan", "moe", "ani"]
          },
          "duplicate": {
            "type": "boolean"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "after": {
            "type": "string",
            "format": "date-time"
          },
          "before": {
            "type": "string",
            "format": "date-time"
          },
          "fansubs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publishers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subjects": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "search": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "complete": {
            "type": "boolean"
          }
        },
        "required": ["page", "pageSize", "complete"]
      },
      "ResourcesRequest": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "页码从 1 开始；page × pageSize 必须不超过 10000，超出返回 HTTP 400。"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100,
            "description": "每页数量，默认 100，最大 1000；page × pageSize 不超过 10000。越界或无效值回退为 100。"
          },
          "provider": {
            "type": "string",
            "enum": ["dmhy", "mikan", "moe", "ani"]
          },
          "duplicate": {
            "type": "boolean",
            "description": "仅在 query 或 JSON 正文指定有效 provider 时生效；该情况下省略默认 true，否则忽略。URL duplicate 的非空字符串会被解析为 true，混用 URL 与正文参数时需注意。"
          },
          "after": {
            "type": "string",
            "format": "date-time"
          },
          "before": {
            "type": "string",
            "format": "date-time"
          },
          "search": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "include": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "keywords": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "exclude": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "type": {
            "type": "string"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "integer"
          },
          "subjects": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "fansub": {
            "type": "string"
          },
          "fansubs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publisher": {
            "type": "string"
          },
          "publishers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "preset": {
            "type": "string",
            "enum": ["bangumi"]
          }
        }
      },
      "ResourcesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["OK"]
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "filter": {
            "$ref": "#/components/schemas/FilterOptions"
          }
        },
        "required": ["status", "resources", "pagination", "filter"]
      },
      "CollectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "default": ""
          },
          "authorization": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/CollectionFilter"
            }
          }
        },
        "required": ["authorization", "filters"],
        "example": {
          "name": "动画",
          "authorization": "example-token",
          "filters": [
            {
              "name": "动画",
              "searchParams": "type=%E5%8A%A8%E7%94%BB",
              "types": ["动画"]
            }
          ]
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ERROR"]
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["status", "message"]
      },
      "ProviderInfo": {
        "type": "object",
        "properties": {
          "providerId": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["providerId"]
      },
      "SubjectSearch": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "after": {
            "type": "number",
            "description": "Unix 毫秒时间戳"
          },
          "before": {
            "type": "number",
            "description": "Unix 毫秒时间戳"
          }
        },
        "required": ["include"]
      },
      "CollectionFilter": {
        "type": "object",
        "description": "保存的结构化筛选条件。searchParams 用于记录查询字符串，服务端查询使用同级筛选字段，不会解析 searchParams 来生成它们。",
        "properties": {
          "name": {
            "type": "string",
            "default": ""
          },
          "searchParams": {
            "type": "string"
          },
          "preset": {
            "type": "string",
            "enum": ["bangumi"]
          },
          "provider": {
            "type": "string",
            "enum": ["dmhy", "mikan", "moe", "ani"]
          },
          "duplicate": {
            "type": "boolean"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "after": {
            "type": "string",
            "format": "date-time"
          },
          "before": {
            "type": "string",
            "format": "date-time"
          },
          "fansubs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publishers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subjects": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "search": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["searchParams"],
        "additionalProperties": true
      },
      "ResourceDetailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["OK"]
          },
          "detail": {
            "$ref": "#/components/schemas/ResourceDetail",
            "description": "抓取到的详情；详情尚未取得或抓取失败时省略，资源仍可返回 HTTP 200。"
          },
          "resource": {
            "$ref": "#/components/schemas/Resource"
          },
          "isDeleted": {
            "type": ["boolean", "null"]
          },
          "duplicatedId": {
            "type": ["integer", "null"],
            "description": "重复资源指向的资源 ID；未设置时可能为 null 或省略。"
          }
        },
        "required": ["status", "resource", "isDeleted"]
      }
    },
    "headers": {
      "ResponseTimestamp": {
        "description": "响应时间，ISO 8601 格式；资源列表、详情和收藏夹响应正文不包含 timestamp。缓存命中时可能是生成缓存响应的时间。",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Status",
      "description": "API状态和基础信息"
    },
    {
      "name": "Resources",
      "description": "资源相关接口，包括搜索、过滤和详情查询"
    },
    {
      "name": "Users",
      "description": "用户和字幕组相关接口"
    },
    {
      "name": "Subjects",
      "description": "番剧主题相关接口"
    },
    {
      "name": "Collections",
      "description": "收藏夹相关接口，支持创建和查询"
    },
    {
      "name": "Feed",
      "description": "RSS订阅源相关接口"
    },
    {
      "name": "Sitemap",
      "description": "站点地图相关接口，用于SEO优化"
    },
    {
      "name": "Admin",
      "description": "管理员接口（需要Bearer Token认证）"
    }
  ]
}
