/* Hero */
.hero {
  height: calc(var(--hero-pt, var(--max-hero-pt)) + var(--search-height) + var(--hero-pb, var(--max-hero-pb))) !important;
}

.hero-top {
  top: calc(var(--hero-pt, var(--max-hero-pt)) - var(--max-hero-pt)) !important;
}

.hero-search {
  top: var(--hero-pt, var(--max-hero-pt)) !important;
}

.hero-bottom {
  top: calc(var(--hero-pt, var(--max-hero-pt)) + var(--search-height)) !important;
  height: var(--hero-pb, var(--max-hero-pb)) !important;
}

/* main layout */
.main {
  @apply: lg:max-w-[calc(100vw-232px)] lg:w-[80vw] md:w-[46rem] lt-md:w-[95vw];
}

.main-with-sidebar {
  @apply: lg:pl-[200px] transition-all;
}

.main-with-sidebar .main {
  @apply: lg:w-[80vw] md:w-[46rem] lt-md:w-[95vw];
}

/* Progress bar */
#animegarden-progress div {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 20%;
  height: 3px;

  border-radius: 1px;
  background: linear-gradient(90deg, #fb923c, #fdba74);

  animation: loading-loop 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#animegarden-progress div:first-child {
  left: 0%;
}

#animegarden-progress div:last-child {
  left: -20%;
  animation-delay: 0.8s;
}

@keyframes loading-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(500%);
  }
}
