name: Deploy Worker

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - remix
    paths:
      - apps/frontend/web/**
      - packages/worker/**
      - packages/anitomy/**
      - packages/animegarden/**

jobs:
  worker:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Deploy
        run: pnpm -C packages/worker run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}

  web:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/remix'

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build:web

      - name: Deploy
        run: pnpm -C apps/frontend/web run deploy:worker
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
